.site-header {
    background-color:#1BBC9B;
    color: #ecfdf9;
    height: 100vh;
    font-family:monospace;
}
.site-header-content{
margin: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: #0A8269 2px 5px 5px;
}
.course-link{
    color:#ecfdf9;
}
body{
    margin: 0%;
}